<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tea.teatool">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".keyboard.KeyBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flow.FlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webshop.WebShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teatextview.TeaTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".arcspeed.ArcSpeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cliptext.ClipTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tearatingbar.TeaRatingBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".letterindex.LetterIndexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mazelock.MazeLockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loadingshape.ShapeLoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teaeventbus.TeaEventBusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teabutterknife.ButterknifeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verticaldrag.VerticalDragActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".slidingmenu.SlidingMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tabmenu.TabMenuActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>